@import "boxicons";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.App {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(251, 190, 194, 1) 35%,
    rgba(171, 125, 200, 1) 100%
  );
  .to-do-list {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
    background-color: white;
    box-shadow: 0 0 15px rgba(#000, 0.2);
    border-radius: 10px;

    align-items: center;
    position: relative;
    .search {
      margin-top: 0.5rem;
      width: calc(100% - 40px);
      padding: 0 20px;
      input {
        width: calc(100% - 0.6rem);
        border: 1px solid #cbcbcb;
        border-radius: 5px;
        outline: none;
        padding: 0 0.3rem;
      }
    }
    &-btns {
      width: 100%;
      display: flex;
      border-radius: 10px 10px 0px 0px;
      button {
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: #fafafa;
        outline: none;
        color: #cbcbcb;
        border: none;
        border-bottom: 2px solid #f5f5f5;
        font-size: 1.5rem;
        cursor: pointer;
        &:first-child {
          border-right: 2px solid #f5f5f5;
          border-radius: 10px 0px 0px 0px;
        }
        &:last-child {
          border-radius: 0px 10px 0px 0px;
        }
      }
      .btn--active {
        background-color: white;
        border-bottom: none;
        color: #b296be;
      }
    }
    &-items {
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: calc(100% - 40px);
      overflow: auto;
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background: #b296be;
        border-radius: 20px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #b296be;
      }
    }
    &-item {
      display: flex;
      width: calc(100% - 20px);

      align-items: center;
      padding: 10px 10px;
      position: relative;

      &:hover {
        button {
          display: flex;
          background-color: transparent;
          align-items: center;
          justify-content: center;
          border: none;
          outline: none;
          color: #b296be;
          font-size: 1.2rem;
          position: absolute;
          right: 0;
          cursor: pointer;
          transition: 0.3s all;
          &:hover {
            transform: scale(0.9);
          }
        }
      }
      .is-done-checkbox,
      .is-done-checkbox--active {
        border: 2px solid #ececec;
        width: 15px;
        height: 18px;
        border-radius: 5px;
        margin-right: 1rem;
        cursor: pointer;
        transition: 0.3s all;
        color: #b296be;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        &:hover {
          transform: scale(0.9);
          border: 2px solid #b296be;
        }
        &--active {
          i {
            opacity: 1;
          }
        }
      }
      .is-done-checkbox {
        i {
          opacity: 0;
        }
      }
      .title {
        color: #b3b3b3;
      }

      .title,
      .done {
        overflow: auto;
        width: calc(100% - 3rem);
        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
          background: #b296be;
          border-radius: 20px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #b296be;
        }
      }
      .done {
        color: #ececec;
        text-decoration: line-through;
      }
      button {
        display: none;
        transition: 0.3s all;
      }
    }
    .round-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background-color: #fdb974;
      color: white;
      border-radius: 50%;
      outline: none;
      cursor: pointer;
      border: none;
      width: 60px;
      height: 60px;
      position: absolute;
      box-shadow: 0 0 20px rgba(#000, 0.2);
      transition: 0.3s all;
      bottom: -25px;
      left: 41%;
      font-size: 1.2rem;
      &:hover {
        transform: scale(0.9);
      }
    }
  }
  .to-do-list-form {
    display: flex;
    width: calc(300px - 40px);
    height: calc(300px - 40px);
    flex-direction: column;
    box-shadow: 0 0 15px rgba(#000, 0.2);
    background-color: white;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    input {
      outline: none;
      height: 40px;
      padding: 0 0.3rem;
      border: 1px solid #fdb974;
      border-radius: 10px;
      width: calc(100% - 20px - 0.6rem);
      color: #fdb874c0;
      &::placeholder {
        color: #fdb874c0;
      }
    }
    .btns {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      button {
        display: flex;
        flex-basis: calc(50% - 1rem);
        align-items: center;
        justify-content: center;
        background-color: #fdb974;
        border: none;
        padding: 10px;

        border-radius: 10px;
        color: white;
        font-size: 1.3rem;
        transition: 0.3s all;
        cursor: pointer;
        &:first-child {
          margin-right: 1rem;
        }
        &:last-child {
          background-color: white;
          color: #fdb974;
          border: 1px solid #fdb974;
        }
        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }
}
